<!DOCTYPE html>
<html>
<head>
  <title>Abby's Cool Ass Thing</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="jumbotron">
  <h1> ABBY'S GUIDE TO NEW YORK CITY </h1>


  <h2> Where are you? </h2>

  <form method="POST" action="/activity">

  <select class="form-control" name="neighborhood">
    <option value="west_village">The West Village</option>
    <option value="lower_east_side">The Lower East Side</option>
    <option value="harlem">Harlem</option>
    <option value="upper_east_side">The Upper East Side</option>
    <option value="upper_west_side">The Upper West Side</option>
  </select>

<h2> What activity would you like to do? </h2>


<select class="form-control" name="activity">
<option value="food">Food</option>
<option value="parks">Parks</option>
<option value="museums">Museums</option>



</select>

<input type="submit">

</form>
</div>
</div>

</body>

</html>
